

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/* -------------Générales-------------- */

* {
    font-family: "Roboto", sans-serif;
  }
  
  .main-container {
    box-sizing: border-box;
  }
  
  :root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  }
  
  p,h1,h2,h3 {
    margin: 0;
  }
  
  h1 {
    font-family:'Shrikhand';
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    line-height: 41px;
    color: #101010;
  }
  
  h2 {
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 12px 0 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
  }
  
  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  /* -------------Header-------------- */
  
  header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  }
  
  #header-logo {
  height: 30px;
  }

  header a {
    position: absolute;
    left: 23px;
  }

  header .return-arrow {
    font-size: 20px; 
    color: #353535;
  }

/* -------------Menu-------------- */

.banner {  
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}



/*Cards*/

.menu-card {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 2;
  max-width: 1024px;
  margin: -45px auto auto auto;
}

.menu-card-title {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 32px;
  gap: 40px;
}

.menu-card-dishes {
  margin-left: 13px;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-card-dishes-title {
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  margin-top: 42px;
}

.menu-card-dishes-plate {
  display: flex;
  height: 69px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


.dish-name {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.dish-name p {
  font-size: 15.04px;
  font-weight: 300;
  margin: 0 0 12px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-price {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
  margin-bottom: 13.5px;
  color: #353535;
}

.list-dishes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-button {
  display: flex;
  justify-content: center;
  padding: 40px ;
}

.button {
  background:linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);    
  padding: 16px 48px;
  align-self: center;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Footer */ 

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
  gap: 16px;
  color: white;
}

.footer_logo {  
  height: 18px; 
  filter: invert(100%);  
}

.footer_list{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer_list i {
  width: 11px;
  padding-right: 11px;  
}

.footer_list_1 a {
  font-weight: 500;
}

.footer_list_2 a {
  font-weight: 400;
}

.footer_list_1, .footer_list_2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}   

  /****** Media queries ***********/
/* Devices (tablets and desktops min-width: 1024px) */

  @media screen and (min-width: 1024px) {
  
    header  {
    height: 96px;
    }
  
    #header-logo {
     height: 35px;
   }
  
  .banner {
    height: 444px;
  }

  .banner-img {
    position: relative;
    height: 956.14px;
    top: -330px;
   
  }
  .menu-card {
    max-width: 1055px;
  }

  .menu-card-title {
    padding-bottom: 40px;
  }
 
  .menu-card-dishes {    
    justify-content: center;
    align-items: center;
}

.menu-card-dishes-plate {
  width: 634px;
}

.footer {
  flex-direction: row-reverse;
  padding: 57px 30px 30px; 
  gap:60px;
}

.footer_list {
  flex-direction: row;
  gap: 30px;
}

.footer_list_1, .footer_list_2 {
  flex-direction: row;  
}

}

/****** Animations ***********/

/****** Animation heart ***********/

.menu-like i {
  position: absolute;
  top: 3.5%;
  font-size: 25px;
  cursor: pointer;
}

.heart-full {
  opacity: 0;
  z-index: 1;
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.heart-full:hover{
  animation: fill-up 500ms;
  animation-fill-mode: forwards;  
}

@keyframes fill-up {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/* -------------Apparition menus-------------- */
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.plate1 {
  animation: apparition 1s ease 0.3s both;
}

.plate2 {
  animation: apparition 1s ease 0.6s both;
}

.plate3 {
  animation: apparition 1s ease 0.9s both;
}

.plate4 {
  animation: apparition 1s ease 1.2s both;
}

.plate5 {
  animation: apparition 1s ease 1.5s both;
}

.plate6 {
  animation: apparition 1s ease 1.8s both;
}

.plate7 {
  animation: apparition 1s ease 2.1s both;
}

.plate8 {
  animation: apparition 1s ease 2.4s both;
}

.plate9 {
  animation: apparition 1s ease 2.7s both;
}

.plate10 {
  animation: apparition 1s ease 3s both;
}

/* -------------Animation check-------------- */

.dish-check {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #FFF;
  width: 0%;
  transition: 300ms ease-in-out;
}

.menu-card-dishes-plate:hover .dish-check {
  width: 59px;
}