/* -------------Général-------------- */

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  box-sizing: border-box;
}

:root {
--primary-color: #9356DC;
--secondary-color: #FF79DA;
--tertiary-color: #99E2D0;
}

p,h1,h2,h3,body {
  margin: 0;
}

.main-index {
  background-color:  #F6F6F6;
}

h1 {
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #101010;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000
}

/* -------------Header-------------- */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 63px;
  padding: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

#header-logo {
  height: 30px;
 }

 /* Location */

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  gap: 17px;
  padding: 0;
}

/* Informations */

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: #F7F7F7;
  padding: 39.5px 30px 57px 20px ;
  gap: 27px;
}

.infos p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;   
  text-align: center; 
}

.button {
  background:linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);    
  padding: 13px 19px;
  align-self: center;
  border-radius: 25px;
  font-weight: 500;
  color: white;
  
}

.button:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Fonctionnement */  

.fonctionnement{  
  background-color:  #FFFFFF;  
}

.fonctionnement .container {
  padding: 48px 20px 68px 20px;
  margin: 0;
}

.fonctionnement-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  padding-left: 12.51px;
}

.fonctionnement-list li {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72.38px;
  width: 100%;
  counter-increment: my-counter 1;
}

.fonctionnement-list li i {
  color: #7E7E7E;
  padding: 0 27px 0 9px;
}

.fonctionnement-list li:hover i {
  color: var(--primary-color);
}

.fonctionnement-list li:before {
  content: counter(my-counter);
  background-color: var(--primary-color);
  color: #FFF;
  font-size: 14.18px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 12px;
}

/* Restaurants */

.restaurants .container {
  padding: 54px 20px 66px 20px;
} 
  
.restaurants a {
  color: #353535;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  gap:18px;
}

.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 174px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow:hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 77px;
  padding-left: 13px;
}

.card-content-body p {
  font-size: 17px;
  font-weight: 300;
}

.badge-new {
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/*Heart*/

.like i {
  position: absolute;
  bottom:30px;
  right: 30px;
  width: 25px;
  height: 25px;
  font-size: 25px;
}

.heart-full {
  opacity: 0;
  z-index: 1;
  background-image: linear-gradient(to left top, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* Footer */ 

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px;
  gap: 16px;
  color: white;
}

.footer_logo {  
  height: 18px; 
  filter: invert(100%);  
}

.footer_list{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer_list i {
  width: 11px;
  padding-right: 11px;  
 }

.footer_list_1 a {
  font-weight: 500;
 }

.footer_list_2 a {
  font-weight: 400;
 }

.footer_list_1, .footer_list_2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

  /****** Media queries ***********/
/* Devices (tablets and desktops min-width: 1024px) */

@media screen and (min-width: 1024px) {
  
  header  {
  height: 96px;
  }

  #header-logo {
   height: 35px;
 }

 h1 {
  font-size: 40px;
  line-height: 47px;
 }

 .infos {
  padding: 30px 397.5px ;
  gap: 18px;
}


.fonctionnement .container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 20px;
}

.fonctionnement .container h2 {
 margin-bottom: 25px;
}

.fonctionnement-list {
  flex-direction: row;
  gap: 36.51px;
  justify-content: space-between;  
}

.fonctionnement-list li {
  width: 30%;
}

.restaurants .container {
  margin: 0 auto;  
  max-width: 1440px;
  padding:30px 20px;
}

.restaurants-card {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
 }

.card {
  width: 47%;
  position: relative;
  box-sizing: border-box
}

.restaurants img {
  height: 240px;
}

.footer {
  flex-direction: row-reverse;
  padding: 57px 30px 30px; 
  gap: 60px;
  }

.footer_list {
  flex-direction: row;
  gap: 30px;
}

.footer_list_1, .footer_list_2 {
  flex-direction: row;  
}
}

/****** Animations ***********/

/****** Animation loader ***********/

.loader {
  position: fixed;
  background-color:  #F6F6F6;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 2;
  animation: loader 10ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.loader::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--primary-color);
  border-radius: 50%;
  animation-fill-mode: bottom;
  animation: spinner 1s infinite linear;
}

.cercle-a {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--secondary-color);
  border-radius: 50%;
  animation-fill-mode: bottom;
  animation: spinner 2s infinite linear;
}

.cercle-b {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--tertiary-color);
  border-radius: 50%;
  animation-fill-mode: bottom;
  animation: spinner 3s infinite linear;
}

.loader i {  
  content: "";
  position: absolute;
  font-size: 60px;  
  background-image: linear-gradient(var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;  
  animation-fill-mode: bottom;
  animation: spinner 2.5s infinite linear;
}


@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


/****** Animation heart ***********/

.heart-full:hover {
  animation: fill-up 800ms;
  animation-fill-mode: forwards;
}

@keyframes fill-up {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}